site_name: WhatsPlay
site_description: 'A Python library to automate WhatsApp through Playwright.'
site_author: 'Your Name Here'

theme:
  name: material
  language: en
  palette:
    # Palette toggle for light vs dark mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.top
    - search.highlight
    - navigation.language

extra:
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: Español
      link: /es/
      lang: es

nav:
  - 'Home': 'index.md'
  - 'Getting Started': 'getting-started.md'
  - 'Configuration': 'configuration.md'
  - 'Guides':
      - 'Handling Messages & Automation': 'guides/handling-messages.md'
      - 'Group Management': 'guides/group-management.md'
      - 'Sending & Receiving Media': 'guides/sending-media.md'
      - 'Advanced Features': 'guides/advanced-features.md'
  - 'Troubleshooting': 'troubleshooting.md'
  - 'API Reference': 'api-reference.md'

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src"] # Add the src directory to Python's sys.path
          options:
            show_root_heading: yes
            show_source: yes
  - i18n:
      languages:
        - locale: en
          name: English
          build: true
          default: true
        - locale: es
          name: Español
          build: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - mkdocstrings
